* {
    box-sizing: border-box;
}

body {
    font-size: 1.1em;
    font-family: $fontBody;
}

body:not(.hasHero) {
    main {
        padding-top: 6em;
    }
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContent {
    margin: 0 0 15vh;
    flex: 0 1 auto;
    .hasHero & {
        margin: 5rem 0 15vh;
    }
}

.container {
    @include mainPadding();
}

.blockWrap {
    margin: 0 -1vw;
    display: flex;
}

.block {
    margin: 0 1vw;
    padding: 2em;
    border: 1px solid black;
    &.main {
        flex: 3;
    }
    &.side {
        flex: 1;
    }
}

.block>h2 {
    margin-top: 0;
}
