.resourceItem a {
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    svg {
        margin: 0 0.75rem 0 0;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.resourceItem {
    margin: 0 0 2rem 0;
}

.resourceList {
    padding: 0;
    list-style-type: none;
}