footer {
	height: 20em;
	background: #F2F2F2;
	//box-shadow: inset 0 0.75rem 0.38rem -0.38rem #ccc;

	display: flex;
}

.mapCont {
	height: 100%;

	flex: 5;
	iframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.footerCont {
	padding: 3vh 7vw;
	position: relative;

	flex: 7;
	display: flex;
	justify-content: center;

	> div {
		flex: 1;
	}
}

.footerCont ul {
	padding: 0;
	list-style-type: none;
}

.footerCont li {
	margin: 0.5em 0;
}

.socialLinks {
	margin: 0 -0.5em;


	display: flex;

	li {
		margin: 0 0.5em;
	}
}

.socialLinks a {
	padding: 0.5em;
	display: block;
	width: 1.5em;
	height: 1.5em;
	color: #fff;
	background: aqua;
	border-radius: 100%;

	svg {
		height: 100%;
		width: 100%;
	}
}

.minimal .footerCont > div {
	flex: 0 1 auto;
}

.copyright {
    margin: 0 0.5rem 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
}
