// vendor styles
@import '../../../node_modules/flickity/dist/flickity';

.carousel-cell {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 45rem;
  margin-right: 2rem;

  img {
    width: 100%;
  }
}
