.splashBlockContainer {
    display: block;
    flex-wrap: wrap;
    margin: 2em -2% 0;

    @media (min-width: $xs) {
        display: flex;
    }
}

.splashBlockContainer .splashBlock {
    margin: 2em 2%;
    padding: 0.5em 1em;
    flex: 0 1 46%;
    background: #F2F2F2;

    @media (min-width: $md) {
        flex: 0 1 29%;
    }

    img {
        max-width: 100%;
    }

    dt {
        font-weight: bold;
    }
    dd {
        margin: 0;
    }
}

.mainContent.splash {
    margin-bottom: 5vh;
}
