.staffImg img {
    width: 20em;
    height: 20em;
    border-radius: 100%;
}

.staffBlock {
    display: flex;
    margin: 0 0 10vh 0;
    h3 {
        margin-top: 0;
    }
}

.staffCont {
    margin: 0 0 0 3rem;
}