@import 'partials/_variables.scss';

.resourceItem a {
    padding: 1.5rem 1rem;
    color: rgb(66, 143, 244);
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    background: rgba(242, 242, 242, 0.5);
    transition: color 0.3s ease, background 0.3s ease;
    svg {
        margin: 0 0.75rem 0 0;
        width: 1.5rem;
        height: 1.5rem;
    }
    &:hover {
        color: blue;
    }
}

.resourceItem {
    flex: 0 1 50%;
    padding: 0 1rem;
    margin: 0 0 2rem 0;
}

.resourceList {
    padding: 0;
    margin: 0 -1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    @media (min-width: $sm) {
        flex-direction: row;
    }
}